services:
  app:
    image: ghcr.io/repatterning/data:master
    ports:
      - 127.0.0.1:3000:3000
    working_dir: /app
    volumes:
      - warehouse:/app/warehouse
      - ~/.aws:/home/automaton/.aws:readonly
    environment:
      - AWS_CONFIG_FILE=/home/automaton/.aws/config
      - AWS_SSO_SESSION={sso_session}
volumes:
  warehouse: